<!-- <h1>Login</h1>
<form method="POST" action="/login">
    <input name="email" placeholder="Email" required />
    <input type="password" name="password" required />
    <button>Login</button>
</form> -->

<%- include('../misc/header') %>

<section class="auth-page">
  <h1>Login</h1>
  <!-- <% if (typeof error !== "undefined" && error) { %>
    <p class="error"><%= error %></p>
  <% } %> -->
  <form method="POST" action="/login" class="auth-form">
    <label>
      Email
      <input type="email" name="email" required />
    </label>

    <label>
      Password
      <input type="password" name="password" required />
    </label>

    <button type="submit">Login</button>
  </form>
</section>

<%- include('../misc/footer') %>

