<!DOCTYPE html>
<html>
  <head>
    <title>Lost and Found</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Lost and Found</h1>
    <p>Hello</p>
    <script src="/js/main.js"></script>
  </body>
</html>
